*{
    color: aqua;

}
.navbar ul{
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-links{
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 13px;
    list-style: none;
    text-decoration: none;
}
.nav-links a{
    text-decoration: none;
}
.scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
  }

  .sticky {
    position: fixed;
    top: 0;
  }
