
.project-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.project-card{
  border: 2px solid gray;
  border-radius:13px ;
  width: 450px;
  margin: 23px 10px 23px 10px ;
  transition: 0.2s;
}
.project-card:hover{
  transform: scale(1.02);
}
.project-img>img{
  height: 200px;
  width: 450px;
  border: 2px solid transparent;
  border-radius: 13px;
}
.project-number{
  position: relative;
}
.project-about{
  color: white;
}
.project-skills-container>img{
  height: 33px;
  width: 33px;
  margin: 3px;
}
.viewcode-container{
  border: 2px solid white;
  border-radius: 8px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewcode-container>p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.viewcode-container>a>img{
  margin: 3px;
}
.btn-group{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3px;
}
.btn-project{
  cursor: pointer;
  padding: 13px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 8px;
  margin: 3px;
  transition: 0.2s;
}
.btn-project:hover{
  border: 2px solid cyan;
  color: white;
}